# -------------------------
# Python / Django
# -------------------------
**/.venv/
**/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env

# -------------------------
# Node / React
# -------------------------
**/node_modules/
**/build/
**/dist/
**/.env

# -------------------------
# Mac
# -------------------------
.DS_Store

# -------------------------
# Logs
# -------------------------
*.log
